<div class="container">

  <app-menu></app-menu>

  <div class="todo-list">
    <div class="add-item">
      <p>Adicionar Tarefa</p>

      <div class="form">
        <input type="text" [formControl]="task_input" (keyup.enter)="adicionar_tarefa()">

        <button type="submit" mat-button (click)="adicionar_tarefa()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="items">
      <div *ngFor="let task of tasks">
        <app-item [task]="task" (delete_task)="delete_task(task)"></app-item>
      </div>
    </div>
  </div>
</div>