body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

.mat-checkbox-frame,
.mat-checkbox-background,
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-anim-unchecked-checked .mat-checkbox-anim-checked-unchecked {
    transform: scale(1.3);
}

.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-ripple .mat-ripple-element {
    background-color: rgb(84, 95, 194) !important;
}

.mat-checkbox-frame {
    background-color: #ffffff !important;
    border-color: #ffffff;
}